/* Imports and resets */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Genetic Styles */
:root {
    font-family: "Audiowide", sans-serif;
    font-size: 18px;
}

body {
    text-align: center;
    color: slategrey;
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

button {
    font-family: Bungee, sans-serif;
    font-size: 1.3rem;
    font-weight: 900;
    color: inherit;
    background-color: inherit;
    border: 1px solid silver;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0px silver, 0px 0px 3px 0px silver;
    padding: 4px 8px;
    text-transform: uppercase;
    flex-basis: 33.333%;
    transition: color 0.7s ease;
    transition: background-color 0.7s ease;
}

button.play-again {
    font-family: Audiowide, sans-serif;
    font-size: inherit;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 10px;
}

button:hover {
    border: 1px solid silver;
    box-shadow: 1px 2px 3px 1px silver, -1px -0px 3px 1px silver;
}

button:active {
    box-shadow: 1px 2px 3px 1px silver inset, 0px 0px 3px 0px silver;
}

/* Style for header */
header > h1 {
    font-family: Audiowide, sans-serif;
    font-size: 2rem;
    padding: 20px 0;
}

/* Style for main section */
main {
    width: 80%;
    min-width: 360px;
    max-width: 520px;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid silver;
    box-shadow: 1px 2px 3px 1px silver, 0px 0px 3px 0px silver;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.player {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    row-gap: 20px;
}

.player > h2 {
    font-size: 1.1rem;
    border-bottom: 3px solid;
}

.score {
    font-family: Audiowide, sans-serif;
    font-size: 4rem;
    border: 1px solid silver;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0px silver, 0px 0px 3px 0px silver;
}

.choice {
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    height: 17px;
}

.message-box {
    min-height: 100px;
    padding: 10px 0;
    border-top: 3px solid;
    border-bottom: 3px solid;
    display: flex;
    flex: 1;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}

.message {
    font-size: 18px;
    word-spacing: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}

.final-message {
    font-family: Audiowide,  sans-serif;
    font-size: 1.2rem;
}

.controls {
    display: flex;
    flex: auto;
    justify-content: center;
    gap: 8px;
    padding: 8px 0;
}

/* Style for footer */
footer {
    padding: 10px 0;
}